<p>Greetings from Moving Bro!</p>
<p>You've been invited by a friend to join a group and see what items you need for your upcoming move.</p>
<p>If you haven't created a movingbro.com account, please <%= link_to "sign up", 'http://www.movingbro.com/users/sign_up/' %> and then join your group with the following link:

<%= link_to "JOIN NOW!", 'http://www.movingbro.com/user_groups/'+@token+'/sign_up/' %>

<p>Good luck with your move!</p>
