* {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar.navbar-default.navbar-top {
	display: none;
}

.btn.btn-sm.btn-primary {
	display: none;
}

.well.sidebar-nav {
	display: none;
}

.alert {
	display: none;
}

.jumbotron {
	display: none;
}

.btn {
	display: none;
}

p {
	display: none;
}

.list-group-item {
	display: block;
}

.cat {
	text-decoration: underline;
	font-size: 25px;
}

input {
	float: right;
}