<div class="container">
	<%= render 'shared/user_group_search' %>

	<% if @my_group.nil? %>
		<br>
		<h1 class="text-center">OR</h1>
		<br>
		<%= render "shared/new_user_group_form" %>

	<% end %>
</div>