<div class="container">
	<h3>Add a new user group</h3>
	<br>
	<div class="col-md-4">
		<%= simple_form_for @group do |f| %>
		<%= f.error_notification %>
		<div class="form-inputs">
		    <%= f.input :group_name, :maxlength => 15 %>
		    <br>
		    <div class="form-actions">
		    	<%= f.button :submit, :class => "btn btn-primary" %>
		 	</div>
		</div>
	</div>
	</div>
<% end %>