<div class="row row-centered">
	<div class="col-lg-6 col-centered boxShadow sign-up center-block">
		<h1 class="text-center">Contact Us</h1>
		<h3>General</h3>
		<p>Want to reach us? Shoot an email to info@movingbro.com</p>
		<p>Back</p>
	</div>
</div>