<div class="row row-centered">
	<div class="col-lg-7 col-centered boxShadow sign-up center-block">
		<h1>Contact Us</h1>
		<div class="row">
			<div class="col-md-6">
				<h3>General</h3>
				<p><%= link_to 'info@movingbro.com', 'mailto:info@movingbro.com' %></p>
				<p>Questions or suggestions? Drop us a line or three, bro. Our ears are like your go-to drunk munchies spot. Always open.</p>
			</div>
			<div class="col-md-6">
				<h3>Press Inquiries</h3>
				<p><%= link_to 'daniel@movingbro.com', 'mailto:daniel@movingbro.com' %></p>
				<p>Want to write an article about Moving Bro? We're happy to answer your questions or provide an interview. Make us famous! </p>
			</div>
		</div>
	</div>
</div>