<div class="container">
	<div class="row">
		<div class="jumbotron boxShadow">
		<h1>Moving, bro?</h1>
			<p>Ready to live in a desolate wasteland using Ikea recipes for toilet paper and eating canned tuna opened with a pocket knife? We'd rather not do that either. Let's find out what you need <i>before</i> you move. We've put together a list of items to get your pad habitable and recommended Amazon picks for each.</p>
			<p><%= link_to "Get your checklist started", '/users/sign_up', :class => "btn btn-warning btn-lg" %></p>
		</div>
		<div class="product-image">
			<img src=<%= asset_path 'list.png' %> class="col-md-9 mb-list img-responsive boxShadow" alt="Responsive image">
			<img src=<%= asset_path 'iphone.png' %> class="col-md-3 mb-list img-responsive" alt="Responsive image">
		</div>
		</div>
		<br>
		<div class="row product-caption col-lg-15 text-center">
			<p><%= link_to "Get started now » <br><span id='its-free'>(it's free!)</span>".html_safe, '/users/sign_up', :class => "get-started btn btn-warning btn-lg" %></p>
		</div>
	</div>
</div>
