<div class="jumbotron boxShadow">
<h1>Moving, bro?</h1>
	<p>Ready to live in a desolate wasteland using Ikea recipes for toilet paper and eating canned tuna opened with a pocket knife? We'd rather not do that either. Let's find out what you need <i>before</i> you move.</p>
	<p><%= link_to "Get your checklist started", '/user_groups/index', :class => "btn btn-primary brn-lg" %></p>
</div>
