/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require turquoise_theme
 *= stub application-print
 *= require_self
 */

.custom-text-field {
	height: auto;
	width: auto;
}

.boxShadow {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.sign-up {
	padding: 1em 3em 3em 3em;
}

.mb-list.img-responsive {
    margin: 0 auto;
}

.rounded-corners {
	border-radius: 5px;
	padding: 2em;
	width: 50%;
	display: inline-block;
}

.get-started {
	margin: 0 auto;
}

#its-free {
	font-size: 13px;
}

.rounded-corners-input {
	border-radius: 5px;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

#living-with-housemates {
  display: none;
}

.no-padding-list {
  padding: 0;
  min-width: 330px;
}

.taken-list {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.amazon_img { 
  position: absolute; 
  top: -160px; 
  left: 130px; 
  display:none;
  z-index: 100;
}

.show-img {
  display: block;
}

.button-add-margin {
  margin-top: 20px;
}